
@{
    ViewBag.Title = "Index";
}

<div class="container py-4">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="custom-file col-md-6">
            <input type="file" name="file" class="custom-file-input" id="customFile" multiple="multiple">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary rounded-0" />
    }
</div>

@section scripts{
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
